---
extends: airbnb
parser: babel-eslint

env:
  node: true
  mocha: true

rules:
  valid-jsdoc: [2,{"requireParamDescription":false}]
  max-len: [1]
  new-cap: [1, {"capIsNewExceptions": ["express.Router"]}]
  arrow-body-style: [1]
  react/jsx-no-bind: [1]
  react/prefer-stateless-function: [1]
  react/prop-types: [1]
